@import "../../styles/variables.scss";

.tdl__form-section {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tdl__form {
    background-color: $background-lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem 1.2rem;
    border: 1px solid $white;
    border-radius: 3px;

    .form__label {
      padding: 0.3rem 0;
      color: $white;
    }

    .form__input {
      min-width: 30rem;
      padding: 0.4rem;
      color: $grey;
      font-size: 1rem;
      line-height: 1;
      margin-bottom: 0.6rem;
      border: none;
      border-radius: 2px;
      box-shadow: $grey-shadow;
    }

    .form__btn {
      font-size: 1rem;
      font-weight: bold;
      padding: 0.4rem;
    }
  }
}

@media screen and (max-width: 585px) {
  .tdl__form-section {
   
    .tdl__form {

      .form__input {
        min-width: 0;
      }

    }
  
  }
}
